.section-title h1{
    text-align: center;
    margin-bottom: 25px;
}
.section-title h2 {
    font-size: 30px;
    font-weight: 800;
    text-align: center;
    margin-bottom: 20px !important;
    font-style: initial;
}
section {
    padding-top: 60px;
    padding-bottom: 60px;
 }
 .tabs-style-03 .icon-tabs .nav-tabs>li>a {
    width: 35px;
    height: 35px;
    font-size: 22px;
    font-weight: 700;
}
.tabs-style-03 .icon-tabs .nav-tabs>li {
    margin-bottom: 24px;
}
.tabs-style-03 .icon-tabs .nav-tabs>li>a i {
    line-height: 12px;
    font-size: 20px;
}
.tabs-style-03 .icon-tabs .nav-tabs>li>a {
    border: 2px solid #999999;
}
i:before {
    margin-left: -10px;
}
.nav>li>a {
    padding: 4px;
}
section.lg-section {
    padding-top: 80px;
    padding-bottom: 80px;
}
.text-bottom-line-sm::after {
    height: 6px;
}
.cardo-font {
    font-style: italic;
}
.top-bar{
    background-color: #000;
    padding: 5px;
    font-size: 14px;
    color: #afaeae;
    line-height: 33px;
    position: fixed;
}
.top-bar .icofont-send-mail{
    font-size: 33px;
    float: left;
    padding-right: 5px;
}
.top-icon{
    color: #000;
    display: table;
    margin: 0 auto;
}
ul.top-icon li {
    display: inline-flex;
}
.top-bar .top-mail,
.top-bar .top-tel{
    display: table;
    margin: 0 auto;
}
ul.top-icon li a{
    border: 1px solid #afaeae;
    width: 25px;
    height: 25px;
    border-radius: 15px;
    line-height: 25px;
    margin-right: 5px;
}
ul.top-icon li a i{
    width: 100%;
    text-align: center;
    line-height: 1.5;
}
ul.top-icon li a i:before{
    margin-left:0;
}
nav.navbar.bootsnav ul.nav > li > a.active {
    background-color: #0000003d;
}
a {
    text-decoration: none;
    color: #f6be00;
}
nav.navbar.bootsnav.navbar-fixed{
    margin-top: 109px;
}
.social-icon{

}
.social-icon li{
    color: #fff;
    list-style: none;
    display: inline-block;
    width: 15%;
}
.social-icon li i:before{
    font-size: 28px;
    display: table-cell;
    color: #6d6871;
}
.logo-footer {
    display: contents;
}
.logo-footer img{
    width: 50%;
    margin-bottom: 20px;
}
.our-process-style-03 .icon {
    display: table;
}
.home-slider {
    height: 70vh;
    background: white;
}
.img-box input, .img-box textarea, .img-box select {
    border: 1px solid #999999;
    color: #777;
}
section.map {
    padding-top: 78px;
    padding-bottom: 0;
    background: #fff;
}
footer h5.aside-title {
    color: #fff;
}
.xs-icon i:before {
    margin-left: 0;
    font-size: 22px;
}

.active_1{
    background-color: red !important;
    color: honeydew;
}

.active-nav{
    background-color: #E79400 !important;
    color: honeydew !important;
}


/*pagination*/
#example{
    display: table;
}
.paginate-pagination ul {
    margin: 20px auto !important;
    padding: 0 !important;
    list-style: none !important;
    position: relative;
    display: inline-table;
    left: 50%;
}
.paginate-pagination ul > li{
    position: relative;
    left: -50%;
}
.paginate-pagination ul > li > a.page {
    height: 45px !important;
    width: 45px !important;
    border-radius: 5px !important;
    line-height: 45px !important;
    color: #000000;
 }
 .paginate-pagination ul > li > a.page.active {
    color: #f50909;
    font-weight: bold;
    background-color: #f7d6e2;
}
input.md-input,
textarea.md-textarea{
    border: 1px solid #d0d0d0;
}
.panel-heading {
    padding: 5px 0 !important;
}
#feature h4{
    font-weight: 600;
    color: #e02566;
    padding-top: 0;
}
.list-style-02 li:before{
    display: none;
}
#feature h4:before {
    content: "\efad";
    font-family: icofont;
    margin-right: 10px;
    color: #e02566;
}
#feature .remove-padding p{
    padding-left: 30px;
}
.section-title {
    margin-bottom: 0;
}
.section-title p.cardo-font{
    font-size: 24px;
}
ul.sis-comp{
    display: table;
    margin: 0 auto;    
    padding-top: 20px;
}
ul.sis-comp li{
    list-style: none;
    float: left;
    padding: 0 20px;
    border-right: 1px solid #775a90;
}
ul.sis-comp li:last-child{
    border-right: 0px;
}
ul.sis-comp li img{
    max-height: 45px;
    width: auto;
}
.logo img{
    padding: 5px 0px;
}
.slick-track .client-logo img{
    width:auto;
    height: 100px;
}
.dark-bg {
    background-color: #8c3b8c;
}

.text_white{
    color: white !important;
}
h2.cardo-font{
    font-style: italic;
}
.item{
    position: relative;
    width: 100%;
}
.carousel-inner>.item {
    -webkit-transition: -webkit-transform 1.7s ease-in-out !important;
    -o-transition: -o-transform 1.7s ease-in-out !important;
    transition: transform 1.7s ease-in-out !important;
}
.item p{
    font-weight: 200;
    font-size: 30px !important;
    position: absolute;
    top: 35%;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    text-shadow: 4px 4px 4px rgba(0,0,0,0.63);
    color: #fff;
    left: 15%;
    width: calc(100% - 30%);
}
.item p span{
    width: 85%;
    font-size: 13px !important;
    text-align: right;
    font-weight: 50 !important;
    display: block;
}
.blue-bg{
    background-color: #e6f8f9;
}
.post-tags{
    /*float: left;*/
}
.widget_tag_cloud{
    display: table;
}
/*=== Lightbox CSS ===*/
    .gallery {
        list-style: none;
        overflow: hidden;
        padding: 0;
        margin: 0;
    }
    
    .gallery li {
        float: left;
        margin: 4px;
    }
    /*~~~~~~~ Thank you page ~~~~~~~~~*/
    .thanks img{
        margin: 0 auto;
        display: block;
    }
    .thanks p{
        text-align: center;
        padding-top: 20px;
    }
/*~~~~~~~~~~~~~~~~~~ Responsive CSS ~~~~~~~~~~~~~~~~~~~~~*/
@media (min-width: 1024px){
    nav.navbar.bootsnav.navbar-transparent.white,
    nav.navbar.bootsnav.navbar-transparent.dark {
        background: rgb(255 255 255 / 60%)
    }
    ul.nav > li > a{
        color: #000 !important;
    }
    .item p{
        font-weight: 700;
        font-size: 45px;
        line-height: 50px;
    }
}
@media(max-width: 1023px) and (min-width: 991px){
    .item p{
        font-weight: 400;
        font-size: 35px;
        line-height: 50px;
    }
}
@media (min-width: 992px){
    .top-icon{
        color: #000;
        margin-bottom: 0;
        display: inline-flex;
        float: right;
        padding: 4px 0;
    }
    nav.navbar.bootsnav.navbar-fixed {
        margin-top: 43px;
    }  
}
@media (max-width: 991px){
    .page-title {
        top: 125px;
    }
    .carousel-inner {
        margin-top: 100px;
    }
    .item p {
        top: 45%;
    }
    .testimonial-item .testimonial-content {
        padding: 10px;
    }
}
@media (min-width: 767px) and (max-width: 991px){
    .tabs-style-03 .icon-tabs .nav-tabs>li {
        width: 14%;
    }
   .tabs-style-03 .icon-tabs .nav-tabs>li:after {
        left: 86%;
        width: 16px;
    }
}
@media(max-width: 768px){
    ul.mile{
        padding: 0 5%;
    }
}
@media (min-width: 481px) and (max-width: 766px){
    .tabs-style-03 .icon-tabs .nav-tabs>li {
        width: 14%;
    }
    .item p {
        font-weight: 200;
        font-size: 25px !important;
        line-height: 35px;
        left: 10%;
        width: calc(100% - 20%);
    }
}

@media (min-width: 320px) and (max-width: 480px){
    .tabs-style-03 .icon-tabs .nav-tabs>li{
        width: 14%;
    }
    .tabs-style-03 .icon-tabs .nav-tabs>li:after{
        left: 83%;
        width: 35%;
    }
}
@media(max-width: 499px){
    ul.sis-comp li img {
        max-height: 30px;
    }
    ul.sis-comp li {
        padding: 0px 10px;
    }
    #about .pl-80{
        padding-left: 0px;
    }
    #about .pr-70{
        padding-right: 0px;
    }
}
@media(max-width: 480px){
    .item p {
        font-weight: 200;
        font-size: 18px !important;
        line-height: 25px;
        left: 5%;
        width: calc(100% - 10%);
    }
    .carousel-inner {
        margin-top: 160px;
    }
}
@media(min-width: 337px) and (max-width: 991px){
    nav.navbar.bootsnav.navbar-fixed{
        margin-top: 93px;
    }
}
@media(max-width: 392px){
    .top-bar .top-mail{
        text-align: center;
        line-height: 18px;
    }
    .top-bar .icofont-send-mail {
        float: none;
    }
    nav.navbar.bootsnav.navbar-transparent .logo {
        height: 50px;
    }
    .top-mail i,
    .top-tel i{
        display: none;
    }
}