.section-title h1{
	text-align: center;
	margin-bottom: 10px;
}
.section-title h2 {
    font-size: 30px;
    font-weight: 800;
    text-align: center;
    margin-bottom: 30px !important;
}
section {
    padding-top: 80px;
    padding-bottom: 80px;
 }
 .tabs-style-03 .icon-tabs .nav-tabs>li>a {
    width: 35px;
    height: 35px;
    font-size: 22px;
    font-weight: 700;
}
.tabs-style-03 .icon-tabs .nav-tabs>li {
    margin-bottom: 24px;
}
.tabs-style-03 .icon-tabs .nav-tabs>li>a i {
    line-height: 12px;
    font-size: 20px;
}
.tabs-style-03 .icon-tabs .nav-tabs>li>a {
	border: 2px solid #999999;
}
i:before {
    margin-left: -10px;
}
.nav>li>a {
    padding: 4px;
}
section.lg-section {
    padding-top: 80px;
    padding-bottom: 80px;
}
.text-bottom-line-sm::after {
    height: 6px;
}
.cardo-font {
    font-style: italic;
}
.top-bar{
    background-color: #000;
    padding: 5px;
    font-size: 14px;
    color: #afaeae;
    line-height: 33px;
    position: fixed;
}
.top-bar .icofont-send-mail{
    font-size: 33px;
    float: left;
    padding-right: 5px;
}
.top-icon{
    color: #000;
    display: table;
    margin: 0 auto;
}
ul.top-icon li {
    display: inline-flex;
}
.top-bar .top-mail,
.top-bar .top-tel{
    display: table;
    margin: 0 auto;
}
ul.top-icon li a{
    border: 1px solid #afaeae;
    width: 25px;
    height: 25px;
    border-radius: 15px;
    line-height: 25px;
    margin-right: 5px;
}
ul.top-icon li a i{
    width: 100%;
    text-align: center;
}
ul.top-icon li a i:before{
    margin-left:0;
}
nav.navbar.bootsnav ul.nav > li > a.active {
    background-color: #0000003d;
}
a {
    text-decoration: none;
    color: #f6be00;
}
nav.navbar.bootsnav.navbar-fixed{
    margin-top: 109px;
}
.social-icon{

}
.social-icon li{
    color: #fff;
    list-style: none;
    display: inline-block;
    width: 15%;
}
.social-icon li i:before{
    font-size: 28px;
    display: table-cell;
    color: #6d6871;
}
.logo-footer {
    display: contents;
}
.logo-footer img{
    width: 50%;
    margin-bottom: 20px;
}
.our-process-style-03 .icon {
    display: table;
}
.home-slider {
    height: 70vh;
    background: white;
}
.img-box input, .img-box textarea, .img-box select {
    border: 1px solid #999999;
    color: #777;
}
section.map {
    padding-top: 78px;
    padding-bottom: 0;
    background: #fff;
}
footer h5.aside-title {
    color: #fff;
}
.xs-icon i:before {
    margin-left: 0;
    font-size: 22px;
}

/*pagination*/
#example{
    display: table;
}
.paginate-pagination ul {
    margin: 20px auto !important;
    padding: 0 !important;
    list-style: none !important;
    position: relative;
    display: inline-table;
    left: 50%;
}
.paginate-pagination ul > li{
    position: relative;
    left: -50%;
}
.paginate-pagination ul > li > a.page {
    height: 45px !important;
    width: 45px !important;
    border-radius: 5px !important;
    line-height: 45px !important;
    color: #000000;
 }
 .paginate-pagination ul > li > a.page.active {
    color: #f50909;
    font-weight: bold;
    background-color: #f7d6e2;
}
input.md-input,
textarea.md-textarea{
    border: 1px solid #d0d0d0;
}
.panel-heading {
    padding: 5px 0 !important;
}
#feature h4{
    font-weight: 600;
    color: #e02566;
}
.list-style-02 li:before{
    display: none;
}
#feature h4:before {
    content: "\efad";
    font-family: icofont;
    margin-right: 10px;
    color: #e02566;
}
#feature .remove-padding p{
    padding-left: 30px;
}
.section-title {
    margin-bottom: 0;
}
.section-title p.cardo-font{
    font-size: 24px;
}
/*~~~~~~~~~~~~~~~~~~ Responsive CSS ~~~~~~~~~~~~~~~~~~~~~*/
@media (min-width: 1024px){
    nav.navbar.bootsnav.navbar-transparent.white,
    nav.navbar.bootsnav.navbar-transparent.dark {
        background: rgb(255 255 255 / 35%)
    }
    ul.nav > li > a{
        color: #000 !important;
    }
}
@media (min-width: 992px){
    .top-icon{
        color: #000;
        margin-bottom: 0;
        display: inline-flex;
        float: right;
        padding: 4px 0;
    }
    nav.navbar.bootsnav.navbar-fixed {
        margin-top: 43px;
    }    
}
@media (max-width: 991px){
    .page-title {
        top: 125px;
    }
}
@media (min-width: 767px) and (max-width: 991px){
	.tabs-style-03 .icon-tabs .nav-tabs>li {
    	width: 14%;
    }
   .tabs-style-03 .icon-tabs .nav-tabs>li:after {
    	left: 86%;
    	width: 16px;
	}
}

@media (min-width: 481px) and (max-width: 766px){
	.tabs-style-03 .icon-tabs .nav-tabs>li {
	    width: 14%;
	}
}

@media (min-width: 320px) and (max-width: 480px){
	.tabs-style-03 .icon-tabs .nav-tabs>li{
	    width: 14%;
	}
	.tabs-style-03 .icon-tabs .nav-tabs>li:after{
	    left: 83%;
	    width: 35%;
	}
}